@import "../../styles/mixins";

:host {
  display: block;
}

.headline {
  @include headline();
}

.form-container {
  width: 50%;
}

.form {
  padding: 0 1rem 1rem 1rem;
}

.submit-btn {
  margin-top: 1rem;
}
