<h2 class="headline"><div>Add new posting</div><button class="btn btn-sm btn-icon" (click)="onBack()">
  <clr-icon shape="caret" dir="left"></clr-icon>
  Back
</button></h2>
<div class="card form-container">
  <div class="card-header">
    Fill in the form:
  </div>
  <form clrForm [formGroup]="form" class="card-block form">
    <clr-input-container *ngFor="let control of controls">
      <label>{{control.label}}</label>
      <input clrInput type="text" [formControlName]="control.field"/>
      <clr-control-error *clrIfError="'salary'">Max salary should be at most twice as big as salary min</clr-control-error>
      <clr-control-error *clrIfError="'required'">Field is required</clr-control-error>

    </clr-input-container>
    <pre>
      {{form.errors | json}}
    </pre>
    <button class="btn submit-btn" (click)="onSubmit()" type="submit" [disabled]="!form.valid">Add</button>
  </form>
</div>
