<h2 class="headline"><div>Add new posting</div><button class="btn btn-sm btn-icon" (click)="onBack()">
  <clr-icon shape="caret" dir="left"></clr-icon>
  Back
</button></h2>
<div class="card form-container">
  <div class="card-header">
    Fill in the form:
  </div>
  <form clrForm [formGroup]="form" class="card-block clr-form form">
    <div  class="clr-form-control" *ngFor="let control of controls">
      <label class="clr-control-label">{{control.label}}</label>
      <div class="clr-control-container" [class.clr-error]="hasError(control)">
        <div class="clr-input-wrapper">
          <input type="text" class="clr-input" [formControlName]="control.field">
          <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="clr-subtext" *ngIf="hasError(control)">{{getError(control)}}</span>
      </div>
    </div>
    <button class="btn submit-btn" (click)="onSubmit()" type="submit" [disabled]="!form.valid">Add</button>
  </form>
</div>
