:host {
  display: block;
  padding: 1.5rem 3rem;
  max-width: 1400px;
  background-color: #f7f7f7;
  margin: 0 auto;
}

.hero {
  display:inline-block;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
